nodered/flows_principal.json
[{"id":"767d56b41dd06e6b","type":"tab","label":"Flujo 1","disabled":false,"info":"","env":[]},{"id":"85340e282e10bbff","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8e36dcab05ad11db","type":"ui_tab","name":"Monitor calidad del aire","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"292756bfd1135cd9","type":"ui_group","name":"Calidad del aire","tab":"8e36dcab05ad11db","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"2c1dc4b21d6e4f65","type":"ui_group","name":"Ambiente","tab":"8e36dcab05ad11db","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"3390b419168eaa1e","type":"ui_group","name":"Ajustes","tab":"8e36dcab05ad11db","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"2787a51e90a70bb6","type":"http in","z":"767d56b41dd06e6b","name":"recibir_http_post","url":"/dUMA","method":"post","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":180,"y":140,"wires":[["70fdb9c66dad7ed1"]]},{"id":"70fdb9c66dad7ed1","type":"function","z":"767d56b41dd06e6b","name":"procesar_json_entrante","func":"// Convertir el JSON de texto a objeto JavaScript\nvar datos_crudos = msg.payload;\n\n// Si viene como texto, convertirlo a objeto\nif (typeof datos_crudos === 'string') {\n    try {\n        msg.payload = JSON.parse(datos_crudos);\n    } catch (error) {\n        node.error(\"Error parseando JSON: \" + error);\n        return null;\n    }\n}\n\n// Agregar timestamp\nmsg.timestamp = new Date();\n\n// Cambiar el nombre para claridad\nmsg.datos = msg.payload;\n\nnode.log(\"Datos recibidos correctamente\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":140,"wires":[["2f463929f6742061","0e808ab490569d0a","da85a8583cd9ceea","eeda1e03b7799f35"]]},{"id":"156c2c406a653820","type":"ui_gauge","z":"767d56b41dd06e6b","name":"","group":"2c1dc4b21d6e4f65","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1010,"y":240,"wires":[]},{"id":"2f463929f6742061","type":"http response","z":"767d56b41dd06e6b","name":"responder_ok","statusCode":"200","headers":{},"x":780,"y":140,"wires":[]},{"id":"98a7a08f7d96fbeb","type":"ui_gauge","z":"767d56b41dd06e6b","name":"","group":"2c1dc4b21d6e4f65","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"units","format":"{{msg.payload}}%","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1000,"y":300,"wires":[]},{"id":"25f85dcd90e92844","type":"ui_gauge","z":"767d56b41dd06e6b","name":"","group":"2c1dc4b21d6e4f65","order":2,"width":0,"height":0,"gtype":"gage","title":"Presion","label":"units","format":"{{msg.payload}} hPa","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1000,"y":360,"wires":[]},{"id":"0e808ab490569d0a","type":"function","z":"767d56b41dd06e6b","name":"extraer_temperatura","func":"msg.payload = msg.datos.te;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":240,"wires":[["156c2c406a653820"]]},{"id":"da85a8583cd9ceea","type":"function","z":"767d56b41dd06e6b","name":"extraer_humedad","func":"msg.payload = msg.datos.hr;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":300,"wires":[["98a7a08f7d96fbeb"]]},{"id":"eeda1e03b7799f35","type":"function","z":"767d56b41dd06e6b","name":"extraer_presion","func":"msg.payload = msg.datos.pa;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":360,"wires":[["25f85dcd90e92844"]]}]